:root {
  --font-display: "Lora", serif;
  --font-content: "Roboto", sans-serif;

  --color-darker: #1b1b1b;
  --color-dark: #393939;
  --color-light: #c5c5c5;
  --color-lighter: #ebebeb;
  --color-accent1: #e86513;
  --color-accent2: #d72222;

  --font_size-display: 5.61rem;
  --font_size-h1: 4.209rem;
  --font_size-h2: 3.157rem;
  --font_size-h3: 2.369rem;
  --font_size-h4: 1.777rem;
  --font_size-big_body: 1.333rem;
  --font_size-body: 1rem;
  --font_size-small: 0.75rem;

  --general_line-height: 1.5rem;
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
}

html {
  font-size: 0.8em;
  scroll-behavior: smooth;
}
body,
canvas {
  background-color: var(--color-darker);
}

header {
  background-color: var(--color-lighter);
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  padding: 0.2rem;
}

#socials {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: calc(0.5 * var(--general_line-height));
  padding-bottom: calc(0.5 * var(--general_line-height));
}

canvas {
  position: absolute;
  z-index: 1;
  inset: 0 0 0 0;
  margin-left: auto;
}

main {
  position: relative;
}
.relative {
  position: absolute;
  inset: 0 0 0 0;
  z-index: 2;
  overflow-y: auto;
}
section {
  overflow-y: scroll;
  border-radius: 1rem 1rem 0px 0px;
  /* padding: calc(4 * var(--general_line-height)) calc(2 * var(--general_line-height)); */
  padding: calc(1 * var(--general_line-height)) calc(1 * var(--general_line-height));
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: sticky;
  top: 0;
}

/* ? typography */
h1,
h2,
h3,
h4 {
  font-family: var(--font-display);
}

h1,
.h1-size {
  font-size: var(--font_size-h1);
  line-height: calc(2.81 * var(--general_line-height));
  padding-bottom: calc(1.25 * var(--general_line-height));
}
h2,
.h2-size {
  font-size: var(--font_size-h2);
  line-height: calc(2.11 * var(--general_line-height));
  padding-bottom: calc(0.94 * var(--general_line-height));
}
h3,
.h3-size {
  font-size: var(--font_size-h3);
  line-height: calc(1.59 * var(--general_line-height));
  padding-bottom: calc(0.707 * var(--general_line-height));
}
h4,
.h4-size {
  font-size: var(--font_size-h4);
  line-height: calc(1.2 * var(--general_line-height));
  padding-bottom: calc(0.532 * var(--general_line-height));
}
p,
.body {
  font-size: var(--font_size-body);
  max-width: 70ch;
  line-height: calc(0.9 * var(--general_line-height));
  padding-bottom: calc(0.4 * var(--general_line-height));
  font-family: var(--font-content);
}
.big_body {
  font-size: var(--font_size-big_body);
  line-height: calc(1.2 * var(--general_line-height));
  padding-bottom: calc(0.5 * var(--general_line-height));
}
.small-text {
  font-size: var(--font_size-small);
  line-height: calc(0.7 * var(--general_line-height));
  padding-bottom: calc(0.33 * var(--general_line-height));
}
.display-text {
  font-size: var(--font_size-display);
  line-height: calc(4.97 * var(--general_line-height));
  padding-bottom: calc(2.21 * var(--general_line-height));
}

/* ? end of typography */

/* ? types of section */
/* section[data-type="glass"] {
  background: rgba(255, 255, 255, 0.11);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5.3px);
  -webkit-backdrop-filter: blur(5.3px);
  border: 1px solid rgba(255, 255, 255, 0.2);
  color: var(--color-light);
} */
section[data-type="bright"] {
  background-color: var(--color-light);
  color: var(--color-dark);
  position: relative;
}
section[data-type="transparent"] {
  color: var(--color-light);
}
section[data-type="dark"] {
  background-color: var(--color-dark);
  color: var(--color-lighter);
}
section[data-type="darker"] {
  background-color: var(--color-darker);
  color: var(--color-light);
}
/* ? end of types of section */

/* ? Nav */
nav {
  display: flex;
  flex-direction: column;
  /* height: 100%; */
}
nav ul {
  display: none;
  margin-top: auto;
}
/* ? end of Nav */

/* ? Header */
header aside p {
  display: none;
}
/* header aside {
  height: 100vh;
} */
/* ? end of Header */

/* ? Hero */
#hero {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
#hero p {
  max-width: 30ch;
  align-self: flex-end;
  font-weight: 300;
  color: var(--color-light);
  /* text-align: end; */
}
#hero h1 {
  max-width: 12ch;
  align-self: flex-start;
}
#hero h1:nth-child(2) {
  max-width: 12ch;
  text-align: end;
  align-self: flex-end;
}
#hero span {
  color: var(--color-accent1);
}
/* ? end of Hero */

/* ? Skills */
/* ? end of Skills */

/* ? Projects */
.cards article {
  border-bottom: 1px solid rgb(133, 133, 133);
  display: flex;
  gap: calc(2 * var(--general_line-height));
}

.cards p {
  max-width: 90ch;
}

.tags {
  align-self: end;
  margin-bottom: calc(0.5 * var(--general_line-height));
}
/* ? end of Projects */

/* ? Tech Stack */
/* ? end of Tech Stack */

/* ? Contact */
/* ? end of Contact */

/* !!!!!!!!!!!!!50rem!!!!!!!!!!!!!! */
@media only screen and (min-width: 50rem) {
}

/* !!!!!!!!!!!!!80rem!!!!!!!!!!!!!! */
@media only screen and (min-width: 80rem) {
  header {
    background-color: var(--color-lighter);
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    padding: 0.75rem;
    gap: calc(2 * var(--general_line-height));
  }

  #socials {
    display: flex;
    width: 100%;
    gap: calc(0.5 * var(--general_line-height));
    padding-bottom: calc(0.5 * var(--general_line-height));
  }

  canvas {
    position: absolute;
    z-index: 1;
    inset: 0 0 0 0;
  }
  /* ? Nav */
  nav {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  nav ul {
    margin-top: auto;
  }
  /* ? end of Nav */

  /* ? Hero */
  #hero {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  #hero p {
    max-width: 30ch;
    align-self: flex-end;
    font-weight: 300;
    color: var(--color-light);
    /* text-align: center; */
  }
  #hero h1 {
    max-width: 12ch;
    align-self: center;
  }
  #hero h1:nth-child(2) {
    max-width: 12ch;
    text-align: end;
    align-self: center;
  }
  #hero span {
    color: var(--color-accent1);
  }

  /* ? end of Hero */

  /* ? Skills */
  /* ? end of Skills */

  /* ? Projects */
  .cards article {
    border-bottom: 1px solid rgb(133, 133, 133);
    display: flex;
    gap: calc(2 * var(--general_line-height));
  }

  .cards p {
    max-width: 90ch;
  }

  .tags {
    align-self: end;
    margin-bottom: calc(0.5 * var(--general_line-height));
  }
  /* ? end of Projects */

  /* ? Tech Stack */
  /* ? end of Tech Stack */

  /* ? Contact */
  /* ? end of Contact */
}
@media (prefers-colorscheme: light) {
}
