.grid_auto-1 {
  display: grid;
  grid-template-columns: 3rem 1fr;
  height: 100vh;
}
.cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  column-gap: calc(1.5 * var(--general_line-height));
  row-gap: calc(2.5 * var(--general_line-height));
  margin-top: calc(4 * var(--general_line-height));
}

@media only screen and (min-width: 800px) {
  .grid_auto-1 {
    grid-template-columns: 5rem 1fr;
  }
}
@media only screen and (min-width: 1100px) {
  .grid_auto-1 {
    grid-template-columns: 10rem 1fr;
  }
  .cards {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    gap: calc(1.5 * var(--general_line-height));
    margin-top: calc(4 * var(--general_line-height));
  }
}
