.grid_auto-1 {
  display: grid;
  grid-template-columns: 3rem 1fr;
  height: 100vh;
}
.cards {
  display: flex;
  flex-direction: column;
  gap: calc(1.5 * var(--general_line-height));
  margin-top: calc(4 * var(--general_line-height));
}

@media only screen and (min-width: 50rem) {
  .grid_auto-1 {
    grid-template-columns: 5rem 1fr;
  }
}
@media only screen and (min-width: 80rem) {
  .grid_auto-1 {
    grid-template-columns: 10rem 1fr;
  }
}
